{% extends 'calendarapp/base.html' %}

{% load macros %}
{% loadmacros "calendarapp/_macro.html"  %}

{% block content %}
{% load macros %}
{% usemacro breadscrumb "AAAA" %}

<div class="wrapper wrapper-content">
<!-- begin: wrapper-content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                <button onclick="window.location='{% url 'add' %}'" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for entry in entries %}
           {% usemacro _calendar_entry entry %}
        {% endfor %}
    </div>

<!-- end: wrapper-content -->
</div>

{% usemacro footer  %}

{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'js/calendarapp/calendarapp.js' %}"> </script>
{% endblock %}
